body{margin:0px;padding:0px;background-color:#F5DEB3;color:#4A3B2C;}
header{background-color:#8B5A2B;height:80px;padding:5px;background-image:url('https://secure-mcpc.github.io/assets/image/main.png')background-position:center;background-repeat:no-repeat;background-size:70px;}
footer{background-color:#8B5A2B;height:200px;padding:10px;}
